In [2]:
from Bio import SeqIO
from Bio import Seq

ModuleNotFoundError: No module named 'Bio.Tools'

In [20]:
total = 47713

In [21]:
import pandas as pd

df = pd.DataFrame({"protein": [""] * total, "dna": [""] * total})

In [22]:
df

      protein dna
0
1
2
3
4
...       ...  ..
47708
47709
47710
47711
47712

[47713 rows x 2 columns]

In [31]:
from Bio import SeqIO

# Function to count sequences in a FASTA file
def count_sequences(fasta_file):
    count = 0
    for ix, _ in enumerate(SeqIO.parse(fasta_file, "fasta")):
        count += 1
        df["dna"][ix] = str(_.seq)
        # print(_.seq)
    return count

# Example usage
fasta_file = "your_protein_sequences.fasta"  # Replace with your FASTA file path
sequence_count = count_sequences("output9seq8k.fasta")

print(f"The number of sequences in the FASTA file is: {sequence_count}")

/tmp/ipykernel_1726193/775195347.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["dna"][ix] = str(_.seq)

The number of sequences in the FASTA file is: 47713

In [32]:
df

      protein                                                dna
0              ATGGGCAAATCGGATTTTCTGAGCCCAAAGGCCATCGCGAATAGAA...
1              ATGCAGCGACTCACATGCGTTCTCATCTGGCTATTTCTTTTGGGAG...
2              ATGGACAGACATTTGCCAGTTTCCAAGATGCAAAACTCATCCTCAC...
3              ATGTCCCTATATGATGACCTGGGAGTGGAGACCAGTGACTCAAAAA...
4              ATGACTTCGCGGCATCTCCGGGGCTGTGGAGTCCACGCCCTCCAGG...
...       ...                                                ...
47708          ACCACATCGAATCTCCAAAAATGCTTTCCCCAGGATGGTCCTGAGG...
47709          ATGTTTGATCCCACCACATGGAAGGCAGATGCAGATGTTCAAGCTA...
47710          GACCTTTCTGACTGCAGACCCTTCATGATGAGCCTTCAGACCCCAA...
47711          ATGGCCATGGCCATGCCCTGGTCAAGGAGGGACTCCGTGTGGAAGT...
47712          ATGTCTGGATCTGCTGCCCTGACAAAGACAGGACCTGCACTGATAT...

[47713 rows x 2 columns]

In [33]:
from Bio import SeqIO

# Function to count sequences in a FASTA file
def count_sequences(fasta_file):
    count = 0
    for ix, _ in enumerate(SeqIO.parse(fasta_file, "fasta")):
        count += 1
        df.loc[ix, "protein"] = str(_.seq)
        # print(_.seq)
        # break
    return count

# Example usage
fasta_file = "your_protein_sequences.fasta"  # Replace with your FASTA file path
sequence_count = count_sequences("cleaned_protein_sequences.fasta")

print(f"The number of sequences in the FASTA file is: {sequence_count}")

The number of sequences in the FASTA file is: 47713

In [34]:
df

,protein,dna
0,MGKSDFLSPKAIANRIKSKGLQKLRWYCQMCQKQCRDENGFKCHCM...,ATGGGCAAATCGGATTTTCTGAGCCCAAAGGCCATCGCGAATAGAA...
1,MQRLTCVLIWLFLLGGQAFEIPINEYSERSLPEESGETTDDVDQVT...,ATGCAGCGACTCACATGCGTTCTCATCTGGCTATTTCTTTTGGGAG...
2,MDRHLPVSKMQNSSSPLEKQTGPAYGNGDLDSEEGSGLEENGFSWG...,ATGGACAGACATTTGCCAGTTTCCAAGATGCAAAACTCATCCTCAC...
3,MSLYDDLGVETSDSKTEGWSKNFKLLQSQLQVKKAALTQAKSQRTK...,ATGTCCCTATATGATGACCTGGGAGTGGAGACCAGTGACTCAAAAA...
4,MTSRHLRGCGVHALQVLLLLLLLLLPLRVTPGTTCPTPISVEHADI...,ATGACTTCGCGGCATCTCCGGGGCTGTGGAGTCCACGCCCTCCAGG...
...,...,...
47708,TTSNLQKCFPQDGPEDSSLQDDLEAAPRACRKYFKTPVVSGGRRAT...,ACCACATCGAATCTCCAAAAATGCTTTCCCCAGGATGGTCCTGAGG...
47709,MFDPTTWKADADVQAIVYEEPMHWRSIVYYELNNRVGDTFQASSTS...,ATGTTTGATCCCACCACATGGAAGGCAGATGCAGATGTTCAAGCTA...
47710,DLSDCRPFMMSLQTPTPLLKHARQALLRNEELAISAVEQLPMELFP...,GACCTTTCTGACTGCAGACCCTTCATGATGAGCCTTCAGACCCCAA...
47711,MAMAMPWSRRDSVWKCFCGLLMVFCRTVISSPTVLEPIYWNTSNSR...,ATGGCCATGGCCATGCCCTGGTCAAGGAGGGACTCCGTGTGGAAGT...
47712,MSGSAALTKTGPALISKPSVTIQGNENVWDLDPHLDHVIGEDKHHL...,ATGTCTGGATCTGCTGCCCTGACAAAGACAGGACCTGCACTGATAT...

In [35]:
df.to_csv("chodata_final.csv")