In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("cho_high_exp.csv")

In [6]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)
test, val = train_test_split(test, test_size=0.5)

In [7]:
train.to_csv("train_final.csv")
test.to_csv("test_final.csv")
val.to_csv("val_final.csv")

In [8]:
import pandas as pd
test_data = pd.read_csv("train_final.csv")

In [9]:
test_data

,Unnamed: 0.1,Unnamed: 0,protein,dna,expression
0,27031,27031,MSRAGPVEGGACTVMTTVGGASISRGGSVGGRKFSAVGGACCTPLE...,ATGTCACGGGCAGGACCGGTGGAGGGCGGGGCATGTACTGTGATGA...,0.457149
1,759,759,MNPQCARCGKVVYPTEKVNCLDKYWHKGCFHCEVCKMALNMNNYKG...,ATGAATCCCCAGTGCGCCCGCTGCGGAAAAGTGGTTTATCCCACGG...,0.552853
2,26786,26786,MASAVVRLLQRGPRCLLAPAAPTLVPPVRGVKKGFRAAFRFQKELE...,ATGGCTTCTGCTGTGGTGCGGCTGCTGCAGCGGGGCCCTCGCTGCC...,0.457888
3,5600,5600,MAATVQDSRVRAGKKLKRSLKRKKKMKLVAKAEMSNPEDELKHSSD...,ATGGCCGCGACCGTTCAGGACTCACGTGTGCGCGCGGGGAAAAAGC...,0.525467
4,967,967,MECTFWVDSQRQEQEEKQHLKTLTPESAKVSAIAMWALRALVIALS...,ATGGAGTGCACCTTTTGGGTGGACAGTCAGAGGCAGGAGCAGGAGG...,0.550245
...,...,...,...,...,...
22896,1136,1136,MYPVYKSSGDLARFRLSQDDVDGIQSLYGDQFWAVRGHEEQAGYPK...,ATGTACCCAGTCTACAAGTCCTCCGGAGACCTGGCCCGCTTCCGTC...,0.548583
22897,14181,14181,MSSIKIECVLRENCRCGESPVWEGASNSLLFVDIPAKKVCLWDSLS...,ATGTCTTCCATCAAGATTGAATGTGTTTTACGGGAGAACTGCAGGT...,0.494782
22898,10087,10087,MEDTQDLNEQSVKKTCPESDVSEPQNSRSMEMQDLASPHALVGGSD...,ATGGAAGACACCCAGGATCTAAATGAGCAATCAGTAAAGAAAACGT...,0.509408
22899,4106,4106,MEKRLGVKPSPASWILPGYCWQTSVKPLRSLYLLYTFFCFSSLWLS...,ATGGAGAAGAGGCTGGGAGTCAAGCCAAGTCCTGCTTCCTGGATTT...,0.531648
22900,5441,5441,MRFWRRGLVLQALKSSWGICRIHRQPPPPPVPKVVATWEAISLGKQ...,ATGAGGTTCTGGCGGAGAGGCTTGGTCCTCCAGGCTCTGAAGAGTT...,0.526120